//mixins
@mixin my-color {
    background: $top-color;
    color: white;
}
@mixin my-sizes {
    width: 100%;
    height: 15em;
}
@mixin my-text {
    margin-left: 2vw;
}
@mixin my-box {
    background: $box-color;
    height: 420px;
}
@mixin my-box-img {
    position: relative;
    height: 200px;
}
@mixin my-box-knap {
    background-color: forestgreen;
    color: ghostwhite;
    padding: 6px;
    width: 75px;
    height: 35px;
    text-align: center;
    position: absolute;
    bottom: 8px;
    border-radius: 4px;
}
